<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        
        <script>
            $(document).ready(function() {
                $("#logoutBtn").on("click", function(){
                    location.href = "/logout"; //redirects to login route
                });//click
            }); //document.ready
            
            function deleteConfirm(){
                 if (!confirm("Delete product?")) {
                      event.preventDefault(); //prevents default behavior of the links
                    }
            }
        </script>
        
    </head>
    <body>
      <div class="text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Kitten Mittens</a>
  
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
            </ul>
          </div>
        </nav>
        
      <h1 class="text-center display-3"><strong><i> Admin </i></strong></h1>
          
      </div>
      
      <br>
            
      <form action="/addProd">
        <button class="btn btn-primary"> Add New Product </button>
      </form>
        
      <br>
      
      <% prodList.forEach(function(product){  %>
      
          [<a href="/updateProd?name=<%= product.name %>">UPDATE</a>] 
          [<a onclick="deleteConfirm()" class="removeProd" href="/deleteProd?name=<%= product.name %>">DELETE</a>] 
          <%= product.name %> <br>
          
      
      
      <% }) %>
      
    </body>
    
</html>