<!DOCTYPE html>
<html>
    <head>
        <title>Add Product</title>
        <link href="/css/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       
    </head>
    <body class="text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Kitten Mittens</a>
  
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
            </ul>
          </div>
        </nav>

        <h1 class="text-center display-3"><strong><i> Adding New Product </i></strong></h1>

        <form method="POST">
        
            Name: <input type="text" name="name"><br>    
            Price: <input type="number" name="price"><br>
            Image URL: <input type="text" name="image"><br>
            Quantity: <input type="text" name="quantity"><br>
            Color: <input type="text" name="color"><br>
            <br><br>
            <button class="btn btn-primary">Add Product</button><br>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        <br><br>
    </body>
</html>