<%- include('partials/header.ejs') %>
        <div class="card mb-3">
        <div class="row no-gutters">
        <div class="col-md-4">
        <img src="https://images.footlocker.com/is/image/EBFL2/T3745163_a1?wid=500&amp;hei=500&amp;fmt=png-alpha">
        </div>
        <div class="col-md-8">
        <div class="card-body">
        <h2 class="card-title">Jordan AJ 1</h2>
        <h3 class="card-text">$49.99</h3>
        <p class="card-text text-danger">Only 5 left in stock!</p>
        <button type="button" class="btn btn-primary btn-lg btn-block">Add to Cart</button>
        </div>
        </div>
        </div>
        </div>
        
    </body>
</html>