<%- include('partials/header.ejs') %>
        
         <h1 class="text-center display-3"><strong><i> Search </i></strong></h1>

        <!-- search stuff-->
        <form class="text-center" action="/results" >
            
            <br>
            Name: <input type="text" name="keyword"><br><br>
            Budget: <input type="number" name="budget"><br>
            
            <br><button class="btn btn-primary"> Search! </button>

        </form>
    </body>
</html>